<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <meta charset="UTF-8">
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">玩家</h1>
            <div class="healthbar">
                <div class="healthbar text-center"
                     style="background-color: green; margin: 0; color: white;"
                     :style="{width: playerHealth + '%'}">
                    {{ playerHealth }}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">怪物</h1>
            <div class="healthbar">
                <div class="healthbar text-center" 
                     style="background-color: green; margin: 0; color: white;"
                     :style="{width: monsterHealth + '%'}">
                        {{ monsterHealth }}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!gameIsRunning">
        <div class="small-12 columns">
            <button id="start-game" @click="startGame">开始游戏</button>
        </div>
    </section>
    <section class="row controls" v-else>
        <div class="small-12 columns">
            <button id="attack" @click='attack'>普通攻击</button>
            <button id="special-attack" @click='specialAttack'>超强攻击</button>
            <button id="heal" @click='heal'>治疗+10</button>
            <button id="give-up" @click='giveUp'>放弃</button>
        </div>
    </section>
    <section class="row log" v-if="turns.length > 0">
        <div class="small-12 columns">
            <ul>
                <li v-for="turn in turns"
                    :class="{'player-turn': turn.isPlayer, 'monster-turn': !turn.isPlayer}"
                >
                    {{ turn.text }}
                </li>
            </ul>
        </div>
    </section>
</div>
<script src="app.js"></script>
</body>
</html>